#root {
  /* max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
   */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #00BFFF;
  font-variant: normal; font-weight: 1100; line-height: 26.4px;
  background-color: #E9F1FA
  /* background-image: url('assets/interlaced.png'); */
  /* background-image: url(./assets/subtle-web-background-5.jpg); */
  /* width: 800px */
  /* color #3dda42e3 */
}

html {
  scroll-behavior: smooth;
}

#vehicles-index img {
  width: 400px;
}

